.data
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px 10vw;
}
.data h1
{
	flex: 1 1 100%;
	margin: 5px 0px;
}
.data h2
{
	flex: 1 1 100%;
	color: #fccf31;
	margin: 5px 0px;
	
}
.data p
{
	flex: 1 1 100%;
	color: red;
	margin: 5px 0px;
}
.data label, input
{
	flex: 1 1 100%;
}
@media(max-width:500px)
{
	.container
	{
		padding: max(20px, 10vw);
	}	
}